/* Font Imports */
@font-face {
  font-family: 'Calistoga';
  src: url('../../assets/fonts/Calistoga-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Caladea';
  src: url('../../assets/fonts/Caladea-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Caladea';
  src: url('../../assets/fonts/Caladea-Bold.ttf') format('truetype');
  font-weight: 500;
}
  
  .background {
    background: url(../../assets//images/services-page/layer1/Group\ 53.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    height: 700px;
  }
  
  .fontCalistoga {
    font-family: 'Calistoga', sans-serif;
    font-size: 100px;
  }
  
  .fontOs {
    font-family: 'Caladea', sans-serif;
    font-size: 100px;
    font-weight: 500;
  }
  
  /* navbar section */
  .navbarSection {
    padding-top: 50px;
    padding-left: 125px;
    padding-right: 125px;
  }
  
  .navbarLinks {
    font-family: 'Caladea', sans-serif;
    font-weight: 500;
    font-size: 15px;
    color: white;
  }
  
  /* Title Section - Start*/
  .titleSection {
    padding: 125px;
  }
  
    .titleTitleText {
      font-family: 'Calistoga', sans-serif;
      color: white;
      font-size: 55.5px;
      font-weight: 400;
    }
  
    .titleSubText {
      font-family: 'Open Sans', sans-serif;
      color: rgba(255, 255, 255, 0.8);
      font-size: 20.5px;
      font-weight: 100;
      width: 500px;
      line-height: 150%;
      margin: 25px 0px 25px 0px;
    }
  
    .contactUsButton {
      background-color: #2E5D6C;
      border: none;
      color: rgba(255, 255, 255 ,1);
      font-size: 17px;
      border-radius: 3px;
      width: 144px;
      height: 33px;
      margin-right: 15px;
    }
  
    .viewServicesButton {
      font-size: 17px;
      border: none;
      color: white;
      background: none;
    }
  
  
    /* .flexRowContainer {
      flex-
    } */
  
  /* Title Section - End */

  /* Services Section - Start */

  .servicesLeftSection {
    padding: 125px;
  }

    .servicesLeftTitle {
        font-family: 'Calistoga', sans-serif;
        color: white;
        font-size: 50px;
        font-weight: 400;
    }

    .servicesLeftText {
        font-family: 'Open Sans', sans-serif;
        color: rgba(255, 255, 255, 0.8);
        font-size: 21px;
        font-weight: 100;
        width: 500px;
        line-height: 150%;
        margin: 25px 0px 25px 0px;
    }

.servicesRightSection {
    padding: 125px;
    }

    .servicesRightTitle {
        font-family: 'Calistoga', sans-serif;
        color: #1A1A1A;
        font-size: 50px;
        font-weight: 400;
    }

    .servicesRightText {
        font-family: 'Open Sans', sans-serif;
        color: #1A1A1A;
        font-size: 21px;
        font-weight: 100;
        width: 500px;
        line-height: 150%;
        margin: 25px 0px 25px 0px;
    }

  /* Services Section - End */

  /* Section 1, Welding - Start */
  .weldingBg {
    background: url(../../assets//images/services-page/layer1/Group\ 54.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    height: 700px;
  }

  /* Section 1, Welding - End */

  /* Section 2, Construction - Start */
  .constructionBg {
    background: url(../../assets//images/services-page/layer1/Group\ 56.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    height: 700px;
  }
  /* Section 2, Construction - End */

  /* Section 3, Posts - Start */
  .postsBg {
    background: url(../../assets//images/services-page/layer1/Group\ 55.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    height: 700px;
  }
  /* Section 3, Posts - End */

  /* Section 4, Services Include - Start */

  .includeBg {
    background-color: #1A1A1A;
    padding: 50px 0px 50px 0px;
  }

  .includeTitle {
    font-family: 'Calistoga', sans-serif;
    font-size: 50px;
    line-height: 150%;
    letter-spacing: 20%;
    color: rgba(255,255,255,1);
    text-align: center;
    padding: 20px 0px 20px 0px;
  }
  
  .includeText {
    font-family: 'Open Sans', sans-serif;
    font-size: 21px;
    line-height: 210%;
    color: rgba(255,255,255,0.8);
  }
  /* Section 4, Services Include - End */
  
  /* Section 5, Partners - Start */
  
  .partnerSection {
    background-color: #B1B1B1;
    stroke: #000000;
  }
  
  .trustedText {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color: #505050;
    align-items: center;
    margin-top: 30px;
  }
  
  .partnerLogo {
    margin-left: 30px;
  }
  /* Section 5, Partners - End */
  
  /* Section 6, Footer - Start */
  
  .footerSection {
    background-color: #1C363F;
    padding: 15px 0px 15px 0px;
  }
  
    .approvedIndustriesText {
      font-family: 'Open Sans', sans-serif;
      font-size: 18px;
      color: rgba(255, 255, 255, 0.2);
    }
  
    .cr {
      font-family: 'Open Sans', sans-serif;
      font-size: 18px;
      color: rgba(255, 255, 255, 1);
    }
  
    .tnc {
      font-family: 'Open Sans', sans-serif;
      font-size: 18px;
      color: rgba(255, 255, 255, 0.5);
    }
  
  /* Section 6, Footer - End */

  @media screen and (min-width:632px) {
    .mobileNav {
      display: none;
    }
  }
  
  @media screen and (max-width:632px) {
    .desktopNav {
      display: none;
    }

    .navbarSection {
      padding: 0;
    }
  
    .background {
      background-image: none;
      background-color: #1A1A1A;
    }

    .weldingBg {
      background-image: url(../../assets/images/services-page/layer1/mobile-cutting-metal-with-plasma-equipment\ 1.png);
    }

    .constructionBg {
      background-image: none;
      background-color: #1A1A1A;
    }

    .postsBg {
      background-image: url(../../assets/images/services-page/layer1/mobile-iStock-1288835184\ 1.png);
    }
  
    .titleSection {
      padding: 0px;
      margin: 0px;
    }
  
    .titleTitleText {
      font-family: 'Calistoga', sans-serif;
      color: white;
      font-size: 55.5px;
      font-weight: 400;
      text-align: center;
      margin: 0px;
      padding: 0px;
    }
  
    .titleSubText {
        color: rgba(255, 255, 255, 0.8);
        font-size: 20.5px;
        font-weight: 100;
        margin: 0px;
        padding: 0px;
        width: 100%;
        text-align: center;
    }

    .servicesLeftSection {
      padding: 0px;
    }
  
      .servicesLeftTitle {
          margin-top: 50px;
          color: white;
          font-size: 43px;
          text-align: center;
          width: 100%;
      }
  
      .servicesLeftText {
          color: rgba(255, 255, 255, 0.8);
          font-size: 19px;
          width: 95%;
          text-align: center;
          margin: 0px;
          padding: 0px;
        }
  
  .servicesRightSection {
      padding: 0px;
      margin: 0px;
      }
  
      .servicesRightTitle {
        margin-top: 50px;
          color: #ffffff;
          font-size: 43px;
          width: 100%;
          text-align: center;
      }
  
      .servicesRightText {
          color: #ffffff;
          font-size: 19px;
          width: 98%;
          text-align: center;
          margin: 0px 0px 0px 5px;
      }

      .includeTitle {
        font-size: 45px;
      }

      .includeText {
        font-size: 19px;
      }
  
    .contactInformation {
      margin: 0px 15px 75px 15px;
    }
  
    .trustedText {
      text-align: center;
    }
  
    .partnerLogo {
      margin: 0px 0px 0px 5px;
    }
  
    .approvedIndustriesText {
      margin-bottom: -10px;
    }
  }
  
  @media screen and (max-width: 600px) {
    .topLogo {
      width: 150px;
      height: 40px;
    }
  
    .titleSection {
      margin: 0;
      padding: 60px 0px 0px 0px;
    }
  
    .titleTitleText {
      font-size: 45px;
    }
  
    .titleSubText {
      font-size: 18.5px;
      margin: 60px 0px 60px 0px;
    }
  
    .forgeImage {
      height: 350px;
    }
  }