/* Font Imports */
@font-face {
  font-family: 'Bayon';
  src: url('../assets/fonts/Bayon/Bayon-Regular.ttf') format('opentype');
  font-weight: 400;
}

@font-face {
  font-family: 'Bayon';
  src: url('../assets/fonts/Bayon/Bayon-Regular.ttf') format('opentype');
  font-weight: 400;
}

@font-face {
  font-family: 'Bayon';
  src: url('../assets/fonts/Bayon/Bayon-Regular.ttf') format('opentype');
  font-weight: 400;
}

.background {
  background: url(../assets/images/hero-background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  height: 1024px;
  
}

.fontOs {
  font-family: 'Bayon', sans-serif;
  font-size: 100px;
  font-weight: 700;
}

/* navbar section */
.navbarSection {
  padding-top: 0px;
  font-family: 'Bayon', sans-serif;
  font-size: 17px;
}

.navbarLinks {
  font-family: 'Bayon', sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: white;
}

/* Title Section - Start*/
.titleSection {
  padding: 20px 0px 0px 0px;
}

  .titleTitleText {
    font-family: 'Bayon', sans-serif;
    color: #ffffff;
    font-size: 75px;
    letter-spacing: 5px;
    line-height: 80%;
    font-weight: 400;
  }

  .titleSubText {
    font-family: 'Bayon', sans-serif;
    color: #014271;
    font-size: 17px;
    font-weight: 400;
    width: 500px;
    line-height: 150%;
    margin-top: 25px;
  }

  .contactUsButton {
    background-color: #2E5D6C;
    border: none;
    color: rgba(255, 255, 255 ,1);
    font-family: 'Bayon', sans-serif;
    font-size: 17px;
    margin-top: 7px;

    border-radius: 20px;
    width: 144px;
    height: 29px;
    margin-right: 15px;
    box-shadow: 0px 0px 10px #408499;
  }

  .contactUsButton:hover {
    background-color: #408499;
    transition: all 1s;
  }

  .viewServicesButton {
    font-family: 'Bayon', sans-serif;
    font-size: 17px;
    margin-top: 10px;
    border: none;
    color: white;
    background: none;
  }

/* Title Section - End */

/* Section 1, Forging Connections, One Weld at a Time - Start */

.forgeSection {
  margin: 50px;
}

.forgeTitle {
  font-family: 'Bayon', sans-serif;
  font-size: 40px;
  line-height: 150%;
  color: #181818;
  opacity: 65%;
}

.forgeSubTitle {
  font-family: 'Bayon', sans-serif;
  font-size: 18px;
  line-height: 150%;
  color: #909090;
  padding-bottom: 45px;
}

.forgeBoxTitle {
  font-family: 'Bayon', sans-serif;
  font-size: 21px;
  line-height: 100%;
  color: #1A1A1A;
  opacity: 65%;
}

.forgeBoxText {
  font-family: 'Bayon', sans-serif;
  font-size: 16px;
  line-height: 150%;
  color: #818181;
}

.forgeSecondary {
  margin-top: 60px;
}

.forgeImage {
  margin-left: 50px;
}

.forgeEachImage {
  border-radius: 50%;
}
/* Section 1, Forging Connections, One Weld at a Time - End */

/* Section 2, Our Services - Start */

.ourServicesContainer {
  background-color: #1A1A1A;
  padding: 50px 0px 50px 0px;
}

.ourServicesTitle {
  font-family: 'Bayon', sans-serif;
  font-size: 40px;
  letter-spacing: 5%;
  color: rgba(255,255,255,1);
  text-align: center;
}

.ourServicesSubTitle {
  font-family: 'Bayon', sans-serif;
  font-size: 18px;
  line-height: 150%;
  color: #8A8A8A;
  text-align: center;
}

.serviceImageTitle {
  font-family: 'Bayon', sans-serif;
  font-size: 18px;
  line-height: 150%;
  font-weight: bold;
  padding-top: 15px;
  color: rgba(255, 255, 255 ,1);
}

.includeTitle {
  font-family: 'Bayon', sans-serif;
  font-size: 25px;
  line-height: 150%;
  letter-spacing: 20%;
  color: rgba(255,255,255,1);
  text-align: center;
  padding: 20px 0px 20px 0px;
}

.includeText {
  font-family: 'Bayon', sans-serif;
  font-size: 19px;
  line-height: 210%;
  color: rgba(255,255,255,0.8);
}

/* Section 2, Our Services - End */

/* Section 3, Contact Us - Start */

.contactUsSection {
  margin: 125px;
  /* font-family: 'Bayon', sans-serif; */
}

  .contactTitle {
    font-family: 'Bayon', sans-serif;
    font-size: 14px;
    color: #2E5D6C;
  }

  .contactSubTitle {
    font-family: 'Bayon', sans-serif;
    font-size: 40px;
    color: #2E2E2E;
    margin-bottom: 30px;
  }

  .submitButton {
    background-color: #2E5D6C;
    border: none;
    color: rgba(255, 255, 255 ,1);
    font-family: 'Bayon', sans-serif;
    font-size: 17px;
    width: 90px;
    height: 30px;
    border-radius: 20px;
    margin-right: 15px;
  }

  .submitButtonSent {
    background-color: #2E5D6C;
    border: none;
    color: rgb(94, 94, 94);
    font-family: 'Bayon', sans-serif;
    font-size: 17px;
    width: 105px;
    height: 30px;
    border-radius: 20px;
    margin-right: 15px;
  }

.formSection2 {
  margin-left: 100px;
}


  .contactDetailTitle {
    font-family: 'Bayon', sans-serif;
    font-size: 25px;
    line-height: 180%;
    color: #1A1A1A;
  }

  .contactDetailText {
    font-family: 'Bayon', sans-serif;
    font-size: 17px;
    color: #3F3F3F;
    line-height: 150%;
  }


.contactInformation {
  margin-top: 75px;
}

  .companyContactTitle {
    font-family: 'Bayon', sans-serif;
    font-size: 14px;
    color: #358AD8;
    font-weight: 100;
  }

  .companyContactDetail {
    font-family: 'Bayon', sans-serif;
    font-size: 20px;
    color: #636363;
  }

/* Section 3, Contact Us - End */

/* Section 4, Partners - Start */

.partnerSection {
  background-color: #B1B1B1;
  stroke: #000000;
}

.trustedText {
  font-family: 'Bayon', sans-serif;
  font-size: 18px;
  color: #505050;
  align-items: center;
  margin-top: 30px;
}

.partnerLogo {
  margin-left: 30px;
}
/* Section 4, Partners - End */

/* Section 5, Footer - Start */

.footerSection {
  background-color: #1C363F;
  font-family: 'Bayon', sans-serif;
  padding: 15px 0px 15px 0px;
}

  .approvedIndustriesText {
    font-family: 'Bayon', sans-serif;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.2);
  }

  .cr {
    font-family: 'Bayon', sans-serif;
    font-size: 18px;
    color: rgba(255, 255, 255, 1);
    font-weight: 700;
  }

  .crs {
    font-family: 'Bayon', sans-serif;
    font-size: 18px;
    color: rgba(255, 255, 255, 1);
    font-weight: 400;
    opacity: 65%;
  }

  .hrl {
    border: 0.5px solid #ffffff;
  }
  .tnc {
    font-family: 'Bayon', sans-serif;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.5);
  }

/* Section 5, Footer - End */



/* animation */
.hidden {
  opacity: 0;
  transition: allz;
}



@media screen and (min-width:1000px) {
  .mobileNav {
    display: none;
  }
}

@media screen and (max-width:1000px) {

    .mobileNav {
      /* min-width: 100%;
      min-height: 100%; */
    }
  .desktopNav {
    display: none;
  }

  .background {
    background-image: url(../assets/images/mobileBg-2.png);
  }

  .titleSection {
    padding: 75px 0px 0px 0px;
    margin: 0;
  }

  .titleTitleText {
    font-family: 'Bayon', sans-serif;
    color: #2E5D6C;
    font-size: 55.5px;
    font-weight: 400;
    text-align: center;
  }

  .titleSubText {
      color: #ffffff;
      font-size: 20.5px;
      font-weight: 400;
      width: 100%;
      text-align: center;
      /* line-height: 150%; */
      margin: 50px 0px 25px 0px;
  }

  .contactUsButton {
    background-color: #2E5D6C;
    border: none;
    color: rgba(255, 255, 255 ,1);
    font-family: 'Bayon', sans-serif;
    font-size: 16.5px;
    border-radius: 5px;
    width: 30%;
    height: 40px;
    margin-top: 50px;
    margin-right: 15px;
    box-shadow: 0px 0px 10px #2E5D6C;
    text-align: center;
    width: 100%;
  }

  .contactUsButton:hover {
    background-color: #3e8197;
    transition: all 1s;
  }

  .viewServicesButton {
    font-family: 'Bayon', sans-serif;
    font-size: 16.5px;
    border: none;
    color: white;
    background: none;
    width: 100%;
    margin-top: 10px;
  }

  .forgeImage {
    margin: 25px 0px 0px 0px;
    width: 100%;
    height: 450px;
  }

  .contactUsSection {
    margin: 50px 0px 0px 0px;
    text-align: center;
  }

  .formSection1 {
    margin-bottom: 25px;
  }

  .formSection2 {
    margin: 25px 0px 40px 0px;
    text-align: center;
  }

  .contactInformation {
    margin: 0px 15px 75px 15px;
  }

  .companyContactTitle {
    font-size: 18px;
    /* margin-top: -15px; */
  }

  .companyContactDetail {
    font-size: 18px;
    /* padding-bottom: 25px; */
  }

  .trustedText {
    text-align: center;
  }

  .partnerLogo {
    margin: 0px 0px 0px 5px;
  }

  .approvedIndustriesText {
    margin-bottom: -10px;
  }
}

@media screen and (max-width: 1000px) {
  /* .topLogo {
    width: 69px;
    height: 69px;
  } */

  .titleSection {
    margin: 0;
    padding: 30px 0px 0px 0px;
  }

  .titleTitleText {
    font-size: 65px;
    margin: 0 0 0 20px;
    padding: 0;
    text-align: start;
  }

  .titleSubText {
    max-width: 90%;
    font-size: 16px;
    margin: 45px 0px 20px 20px;
    text-align: start;
  }

  .forgeImage {
    height: 350px;
  }
}