/* Font Imports */
@font-face {
  font-family: 'Alone On Earth';
  src: url('../../assets/fonts/Alone\ On\ Earth.otf') format('opentype');
  font-weight: 400;
}

@font-face {
  font-family: 'American Typewriter';
  src: url('../../assets/fonts/ufonts.com_american-typewriter.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'American Typewriter';
  src: url('../../assets/fonts/ufonts.com_american-typewriter-bold.ttf') format('truetype');
  font-weight: 700;
}


.background {
  background-color: #116C89;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  height: 500px;
  
}

.fontAlone On Earth {
  font-family: 'Alone On Earth', sans-serif;
  font-size: 100px;
}

.fontOs {
  font-family: 'American Typewriter', sans-serif;
  font-size: 100px;
  font-weight: 700;
}

/* navbar section */
.navbarSection {
  padding-top: 0px;
  font-family: 'Alone On Earth', sans-serif;
  font-size: 17px;
}

.navbarLinks {
  font-family: 'American Typewriter', sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: white;
}

/* Title Section - Start*/
.titleSection {
  padding: 75px 0px 0px 0px;
}

  .titleTitleText {
    font-family: 'Alone On Earth', sans-serif;
    color: white;
    font-size: 65px;
    font-weight: 400;
  }

  .titleSubText {
    font-family: 'American Typewriter', sans-serif;
    color: rgba(255, 255, 255, 0.8);
    font-size: 18.5px;
    font-weight: 100;
    width: 500px;
    line-height: 150%;
    margin: 40px 0px 40px 0px;
  }

  .contactUsButton {
    background-color: #2E5D6C;
    border: none;
    color: rgba(255, 255, 255 ,1);
    font-family: 'Alone On Earth', sans-serif;
    font-size: 17px;
    margin-top: 7px;

    border-radius: 20px;
    width: 144px;
    height: 33px;
    margin-right: 15px;
    box-shadow: 0px 0px 10px #2E5D6C;
  }

  .contactUsButton:hover {
    background-color: #438ba2;
    transition: all 1s;
  }

  .viewServicesButton {
    font-family: 'Alone On Earth', sans-serif;
    font-size: 17px;
    margin-top: 10px;
    border: none;
    color: white;
    background: none;
  }

/* Title Section - End */

/* Section 1, Forging Connections, One Weld at a Time - Start */

.forgeSection {
  margin: 50px;
}

.forgeTitle {
  font-family: 'Alone On Earth', sans-serif;
  font-size: 40px;
  line-height: 120%;
  color: #1A1A1A;
}

.forgeSubTitle {
  font-family: 'American Typewriter', sans-serif;
  font-size: 18px;
  line-height: 150%;
  color: #1A1A1A;
}

.forgeBox {
  padding-top: 40px;
}

.forgeBoxTitle {
  font-family: 'American Typewriter', sans-serif;
  font-size: 18px;
  line-height: 140%;
  color: #1A1A1A;
}

.forgeBoxText {
  font-family: 'American Typewriter', sans-serif;
  font-size: 18px;
  line-height: 150%;
  color: rgba(0, 0, 0, 0.6);
}

.forgeSecondary {
  margin-top: 60px;
}

.forgeImage {
  margin-left: 50px;
}

.forgeEachImage {
  border-radius: 50%;
}
/* Section 1, Forging Connections, One Weld at a Time - End */

/* Services Section - Start */

.servicesLeftSection {
  padding: 125px;
}

  .servicesTitle {
      font-family: 'Alone On Earth', sans-serif;
      color: #100B29;
      font-size: 40px;
      font-weight: 400;
  }

  .servicesText {
      font-family: 'American Typewriter', sans-serif;
      color: #100B29;
      font-size: 18px;
  }

  .bookSectionButton {
    margin-top: 5px;
    background-color: #0d4c61;
    border: none;
    color: rgba(255, 255, 255 ,1);
    font-family: 'Alone On Earth', sans-serif;
    font-size: 17px;
    border-radius: 5px;
    width: 130px;
    height: 29px;
    box-shadow: 0px 0px 10px #0d4c61;
  }


/* Services Section - End */

/* Section 1, Welding - Start */
.weldingBg {
  /* background: url(../../assets//images/services-page/layer1/Group\ 54.png); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  margin-top: 30px;
  margin-bottom: 30px;
  /* height: 700px; */
}

/* Section 1, Welding - End */

/* Section 2, Construction - Start */
.constructionBg {
  background: url(../../assets//images/services-page/layer1/Group\ 56.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  height: 700px;
}
/* Section 2, Construction - End */

/* Section 3, Posts - Start */
.postsBg {
  background: url(../../assets//images/services-page/layer1/Group\ 55.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  height: 700px;
}
/* Section 3, Posts - End */

/* Section 2, Our Services - Start */

.ourServicesContainer {
  background-color: #FFFFFF;
  padding: 50px 0px 50px 0px;
}

.ourServicesTitle {
  font-family: 'Alone On Earth', sans-serif;
  font-size: 40px;
  letter-spacing: 5%;
  color: rgba(255,255,255,1);
  text-align: center;
}

.ourServicesSubTitle {
  font-family: 'American Typewriter', sans-serif;
  font-size: 18px;
  line-height: 150%;
  color: #8A8A8A;
  text-align: center;
}

.serviceImageTitle {
  font-family: 'American Typewriter', sans-serif;
  font-size: 18px;
  line-height: 150%;
  font-weight: bold;
  padding-top: 15px;
  color: rgba(255, 255, 255 ,1);
}

.includeTitle {
  font-family: 'Alone On Earth', sans-serif;
  font-size: 25px;
  line-height: 150%;
  letter-spacing: 20%;
  color: rgba(255,255,255,1);
  text-align: center;
  padding: 20px 0px 20px 0px;
}

.includeText {
  font-family: 'American Typewriter', sans-serif;
  font-size: 19px;
  line-height: 210%;
  color: rgba(255,255,255,0.8);
}

/* Section 2, Our Services - End */

/* Section 5, Footer - Start */

.footerSection {
  background-color: #1C363F;
  font-family: 'American Typewriter', sans-serif;
  padding: 15px 0px 15px 0px;
}

  .approvedIndustriesText {
    font-family: 'American Typewriter', sans-serif;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.2);
  }

  .cr {
    font-family: 'American Typewriter', sans-serif;
    font-size: 18px;
    color: rgba(255, 255, 255, 1);
    font-weight: 700;
  }

  .crs {
    font-family: 'American Typewriter', sans-serif;
    font-size: 18px;
    color: rgba(255, 255, 255, 1);
    font-weight: 400;
  }

  .hrl {
    border: 0.5px solid #ffffff;
  }
  .tnc {
    font-family: 'American Typewriter', sans-serif;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.5);
  }

/* Section 5, Footer - End */



/* animation */
.hidden {
  opacity: 0;
  transition: allz;
}

@media screen and (min-width:1000px) {
  .mobileNav {
    display: none;
  }
}

@media screen and (max-width:1000px) {
  .desktopNav {
    display: none;
  }

  .titleSection {
    padding: 75px 0px 0px 0px;
    margin: 0;
  }

  .titleTitleText {
    font-family: 'Alone On Earth', sans-serif;
    color: white;
    font-size: 55.5px;
    font-weight: 400;
    text-align: center;
  }

  .titleSubText {
      color: rgba(255, 255, 255, 0.8);
      font-size: 20.5px;
      font-weight: 100;
      width: 100%;
      text-align: center;
      /* line-height: 150%; */
      margin: 50px 0px 25px 0px;
  }

  .contactUsButton {
    background-color: rgba(53, 138, 216, 1);
    border: none;
    color: rgba(255, 255, 255 ,1);
    font-size: 17px;
    border-radius: 3px;
    width: 100%;
    height: 40px;
    margin-top: 50px
  }

  .contactUsButton:hover {
    background-color: rgba(11, 99, 181, 1);
    transition: all 1s;
  }

  .viewServicesButton {
    font-size: 17px;
    border: none;
    color: white;
    background: none;
    width: 100%;
    margin-top: 10px;
  }

  .forgeImage {
    margin: 25px 0px 0px 0px;
    width: 100%;
    height: 450px;
  }
}

@media screen and (max-width: 1000px) {

  .titleSection {
    margin: 0;
    padding: 60px 0px 0px 0px;
  }

  .titleTitleText {
    font-size: 45px;
  }

  .titleSubText {
    font-size: 18.5px;
    margin: 60px 0px 60px 0px;
  }

  .forgeImage {
    height: 350px;
  }
}